:root {
    --gradient-base-color: rgba(50, 50, 50, 0.5);
    --gradient-afford-color: rgba(50, 200, 50, 0.66);
    --gradient-cannot-afford-color: rgba(255, 0, 0, 0.8);
}

@property --item-gradient {
    syntax: '<color>';
    initial-value: rgba(50, 50, 50, 0.66);
    inherits: false;
}

.side-menu-item {
    p:not(.color-values > p) {
        margin: 0px 6px 4px 6px;
        font-size: 10pt;
        color: rgb(225, 225, 225);
    }

    h5 {
        text-align: left;
        margin: 4px;
        grid-column: 1/3;
    }

    p {
        font-size: 11pt;
        text-align: left;
        margin: 6px;
    }

    p:nth-child(3):not(.stats > p) {
        font-size: 10pt;
        font-style: italic;
        color: lightgray;
    }
}

.side-menu-item {
    grid-template-rows: auto 1fr;
    display: grid;
    margin-top: 8px;
    pointer-events: auto;
    padding: 6px;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--gradient-base-color), var(--item-gradient));
    transition: --item-gradient 0.25s, transform 0.25s;
}


.side-menu-item:not(.cannot-afford):hover {
    cursor: pointer;
    --item-gradient: var(--gradient-afford-color);
    transition: --item-gradient 0.25s, transform 0.25s;

    transform: translateX(-6px);
}

.cannot-afford {
    filter: saturate(0.33) brightness(0.66);
    --item-gradient: var(--gradient-cannot-afford-color)
}

/* left */

.left-menu-content>.side-menu-item {
    background: linear-gradient(90deg, var(--item-gradient), var(--gradient-base-color));
}

.left-menu-content>.side-menu-item:not(.cannot-afford):hover {
    transform: translateX(6px);
}

/*  */

.prevent-flicker {
    position: absolute;
    width: 100%;
    height: 24px;
    left: 50%;
    top: calc(100% - 12px);
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: transform, -webkit-transform, 0.25s;
    display: none;
}

.side-menu-item:not(.cannot-afford):hover .prevent-flicker {
    transform: translate(-50%, calc(-50% + 6px));
    display: inline;
}

.generator-image {
    display: block;
    margin-left: auto;
    height: 100px;
    align-self: center;
}

.generator-price {
    margin-top: 8px;
    margin-left: 4px;
    font-size: 12pt;
    font-weight: bold;
    display: flex;
    width: 6em;
    margin-bottom: 4px;
}

.generator-price span {
    width: 100%;
    color: white;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0px;
}

.generator-price span:nth-child(1) {
    background-color: red;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.generator-price span:nth-child(2) {
    background-color: green;
}

.generator-price span:nth-child(3) {
    background-color: blue;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.generator-count {
    padding: 2px 0px 4px 0px;
    margin: 4px;
    width: 6em;
    color: white;
    font-size: 12pt;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    position: relative;
    z-index: 1;
    font-weight: bold;
    overflow: hidden;
    text-shadow: black 0px 0px 5px;
}

.generator-count-bar {
    background-color: rgba(255, 255, 255, 0.4);
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: width 0.15s;
}

.next-level-bonus {
    font-weight: normal;
    font-size: 9pt;
}