.buy-count {
    margin-top: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: red; 
    box-shadow: 0px 1px 2px black;
    border-radius: 8px;
}

.buy-count > span {
    flex:1;
    font-size: 12pt;
    font-weight: bold;
    color: white;
    /* background-color: rgba(255, 255, 255, 0.15); */
    padding: 6px;
}

.buy-count > span:hover:not(.selected) {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.buy-count > span.selected {
    background-color: rgba(255, 255, 255, 0.4);
}

.buy-count > span:nth-child(1) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.buy-count > span:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

