section {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    user-select: none;
    font-size: 18pt;
}

.square {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: background-color 0.25s;
}

.color-values {
    width: 6em;
    margin-top: 8px;
    position: absolute;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px;
}

.cur-r {
    color: red;
    margin: 4px;
}

.cur-g {
    color: green;
    margin: 4px;
}

.cur-b {
    color: blue;
    margin: 4px;
}

.color-values p {
    text-align: center;
}

/* menus */

.menu-content h4 {
    margin: 8px;
    margin-bottom: 16px;
}

.side-menu {
    top: 15%;
    height: 75%;
    position: fixed;
    display: flex;
    pointer-events: none;
}

.menu-content {
    padding: 8px;
    width: 10em;
    overflow-x: hidden;
    display: block;
    padding-top: 8px;
    background-color: #282c34;
    overflow-y: scroll;
    pointer-events: auto;
    
    transition: width, padding, 0.25s ease-in-out;
}

.hidden {
    width: 0px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: none;
}

.menu-button {
    z-index: 1;
    pointer-events: auto;
    cursor: pointer;
    margin-top: 1em;
    color: white;
    height: 4em;
    width: 2em;
    font-size: 24pt;
    background-color: #282c34;
    border: none;
    transition: background-color 0.2s;
}

.menu-content span {
    display: block;
}

.menu-button:hover {
    background-color: #4b5261;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4b5261;
}

/* left menus */

.left-menu {
    left: 0px;
}

.left-menu-content {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 4px;
}

.open-left {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 4px;
}

/* right menus */

.right-menu {
    right: 0px;
}

.right-menu-content {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 4px;
}

.open-right {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 4px;
}

.square span {
    /* TODO: add contrast */
    /* text-shadow: black 1px 1px 5px; */
    animation: on-click-fade 1s;
}

@keyframes on-click-fade {
    0% {
        opacity: 100;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}