section {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    user-select: none;
    font-size: 18pt;
}

.square {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: background-color 0.25s;
}

.color-values {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 128px;
    height: 60px;
    margin-top: 8px;
    position: absolute;
    background-color: #282c34;
    padding: 12px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px;
    font-size: 13pt;
    align-items: center;
}

.color-values span {
    padding-top: 6px;
    padding-bottom: 6px;
}

.cur-r {
    background-color: red;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cur-g {
    background-color: green;
}

.cur-b {
    background-color: blue;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.color-values p {
    font-weight: normal;
    grid-column: 1 / 4;
    text-align: center;
}

/* menus */

.menu-content h4 {
    margin: 8px;
    margin-bottom: 16px;
}

.side-menu {
    top: 15%;
    height: 75%;
    position: fixed;
    display: flex;
    pointer-events: none;
    width: 12em;
    transition: left, right, 0.25s ease-in-out;
    z-index: 1;
}

.menu-content {
    position: relative;
    padding: 8px;
    width: 10em;
    overflow-x: hidden;
    flex-direction: column;
    padding-top: 8px;
    background-color: #282c34;
    overflow-y: scroll;
    pointer-events: auto;
}

.side-menu.hidden-left {
    left: 0em;
}

.side-menu.hidden-right {
    right: 0em;
}

.menu-button {
    z-index: 1;
    pointer-events: auto;
    cursor: pointer;
    margin-top: 1em;
    color: white;
    height: 4em;
    width: 2em;
    font-size: 24pt;
    background-color: #282c34;
    border: none;
    transition: background-color 0.2s;
}

.menu-content span {
    display: block;
}

.menu-button:hover {
    background-color: #4b5261;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4b5261;
}

/* left menus */

.left-menu {
    left: calc(-10em + 10px);
}

.left-menu-content {    
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 4px;
}

.open-left {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 4px 2px 4px;
}

/* right menus */

.right-menu {
    right: calc(-10em + 10px);
}

.right-menu-content {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 4px;
}

.open-right {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) -4px 2px 4px;
}

.open-right span {
    display: inline-block;
    transform: rotate(180deg);
}

.square span {
    /* TODO: add contrast */
    /* text-shadow: black 1px 1px 5px; */
    animation: on-click-fade 1s;
    z-index: 1;
}

.square div {
    background: radial-gradient(
        transparent, 
        rgba(0,0,0,0.3), 
        transparent, 
        rgba(0,0,0,0.2), 
        transparent, 
        rgba(0,0,0,0.1), 
        transparent 
    );
    border-radius: 100%;
    z-index: 0;
    width: 0.5em;
    height: 0.5em;
    animation: on-click-fade-ripple .55s;
}

.stats {
    position: absolute;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 4px;
    z-index: 0;
}

.bottom-right {
    bottom: 8px;
    right: 8px;
}

.bottom-left {
    bottom: 8px;
    left: 8px;
}

@keyframes on-click-fade {
    0% {
        opacity: 100;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

@keyframes on-click-fade-ripple {
    0% {
        opacity: 100;
        transform: scale(1);
        
    }

    100% {
        opacity: 0;
        transform: scale(24);
    }
}