section {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    user-select: none;
    font-size: 18pt;
}

.square {
    position: fixed;
    width: 100%;
    height: 100%;
    transition: background-color 0.25s;
}

.color-values {
    margin-top: 8px;
    position: absolute;
    background-color: white;
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
}

.cur-r {
    color: red;
    margin: 4px;
}

.cur-g {
    color: green;
    margin: 4px;
}

.cur-b {
    color: blue;
    margin: 4px;
}

/* menus */

.menu-content h4 {
    margin: 8px;
}

.side-menu {
    top: 15%;
    height: 60%;
    position: fixed;
    display: flex;
}

.menu-content {
    width: 8em;
    overflow-x: hidden;
    display: block;
    padding-top: 8px;
    background-color: #282c34;
    transition: width 0.25s ease-in-out;
}

.hidden {
    width: 0px;
}

.menu-button {
    cursor: pointer;
    margin-top: 1em;
    color: white;
    height: 4em;
    width: 2em;
    font-size: 24pt;
    background-color: #282c34;
    border: none;
    transition: background-color 0.2s;
}

.menu-content span {
    display: block;
}

.menu-button:hover {
    background-color: #4b5261;
}

/* left menus */

.left-menu {
    left: 0px;
    pointer-events: none;
}

.left-menu-content {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.open-left {
    pointer-events: auto;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* right menus */

.right-menu {
    right: 0px;
    pointer-events: none;
}

.right-menu-content {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.open-right {
    pointer-events: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}