h5 {
    white-space: nowrap;
    text-align: left;
    margin: 4px;
}

p {
    /* white-space: nowrap; */
    font-size: 11pt;
    text-align: left;
    margin: 6px;
}

.side-menu-item {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    pointer-events: auto;
    padding: 4px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 1px 2px;
    
    transition: background-color, transform, box-shadow, 0.25s;
}

.side-menu-item:hover {
    cursor: pointer;
    background-color: #4b5261;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 1px 2px;
    transform: translateY(-6px);
    
    transition: background-color, transform, box-shadow, 0.25s;
}

.generator-image {
    /* improve unless it works */
    display: block;
    margin-left: auto;
    height: 100px;
}

.generator-price {
    margin-left: 4px;
    font-size: 12pt;
    font-weight: bold;
    display: flex;
    width: 6em;
    margin-bottom: 4px;
}

.generator-price span {
    width: 100%;
    color: white;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0px;
}

.generator-price span:nth-child(1) {
    background-color: red;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.generator-price span:nth-child(2) {
    background-color: green;
}

.generator-price span:nth-child(3) {
    background-color: blue;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.generator-count {
    margin: 4px;
    width: 6em;
    color: white;
    font-size: 12pt;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    position: relative;
    z-index: 1; 
    font-weight: bold;
    overflow: hidden;
    text-shadow: rgba(0, 0, 0, 1) 0px 0px 5px;
}

.generator-count-bar {
    background-color: rgba(255, 255, 255, 0.4);
    left: 0px;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -1; 
}

.cannot-afford {
    filter: saturate(0.25) brightness(0.5);
}