h5 {
    text-align: left;
    margin: 4px;
    grid-column: 1/3;
}

p {
    font-size: 11pt;
    text-align: left;
    margin: 6px;
}

p:nth-child(3):not(.stats > p){
    font-size: 10pt;
    font-style: italic;
    color: lightgray;
}

.side-menu-item {
    grid-template-rows: auto 1fr;
    display: grid;
    margin-top: 12px;
    pointer-events: auto;
    padding: 6px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 1px 2px;

    transition: background-color, transform, -webkit-transform, box-shadow, 0.25s;
}

.side-menu-item:not(.cannot-afford):hover {
    cursor: pointer;
    background-color: #4b5261;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 1px 2px;
    transform: translateY(-6px);
    
    transition: background-color, transform, -webkit-transform, box-shadow, 0.25s;
}

.prevent-flicker {
    position: absolute;
    width: 100%;
    height: 24px;
    left: 50%;
    top: calc(100% - 12px);
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: transform, -webkit-transform, 0.25s;
    display: none;
}

.side-menu-item:not(.cannot-afford):hover .prevent-flicker {
    transform: translate(-50%, calc(-50% + 6px));
    display: inline;
}

.generator-image {
    display: block;
    margin-left: auto;
    height: 100px;
    align-self: center;    
}

.generator-price {
    margin-left: 4px;
    font-size: 12pt;
    font-weight: bold;
    display: flex;
    width: 6em;
    margin-bottom: 4px;
}

.generator-price span {
    width: 100%;
    color: white;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0px;
}

.generator-price span:nth-child(1) {
    background-color: red;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.generator-price span:nth-child(2) {
    background-color: green;
}

.generator-price span:nth-child(3) {
    background-color: blue;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.generator-count {
    margin: 4px;
    width: 6em;
    color: white;
    font-size: 12pt;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    position: relative;
    z-index: 1; 
    font-weight: bold;
    overflow: hidden;
    text-shadow: rgba(0, 0, 0, 1) 0px 0px 5px;
}

.generator-count-bar {
    background-color: rgba(255, 255, 255, 0.4);
    left: 0px;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -1; 
    transition: width 0.15s;
}

.cannot-afford {
    filter: saturate(0.25) brightness(0.5);
}

.next-level-bonus {
    font-weight: normal;
    font-size: 9pt;
}