h5 {
    white-space: nowrap;
    text-align: left;
    margin: 4px;
}

p {
    white-space: nowrap;
    font-size: 12pt;
    text-align: left;
    margin: 4px;
}

.side-menu-item {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    pointer-events: auto;
    padding: 4px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 1px 2px;

    transition: background-color, transform, box-shadow, 0.25s;
}

.side-menu-item:hover {
    cursor: pointer;
    background-color: #4b5261;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 1px 2px;
    transform: translateY(-6px);

    transition: background-color, transform, box-shadow, 0.25s;
}

.generator-image {
    /* improve unless it works */
    display: block;
    margin-left: auto;
    height: 100px;
}
