.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: white;
  position: relative;
  z-index: 10;
  font-family: var(--font-family-default);
}

.App-link {
  color: #61dafb;
}

.App-header .title {
  margin-left: 16px;
  margin-right: auto;
}

.App-header h3 {
  margin: 8px;
}

.header-button {
  font-family: var(--font-family-default);
  padding: 16px;
  font-size: 11pt;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.header-button:hover {
  background-color: #4b5261;
}

p {
  margin: 0.33rem;
  font-size: 11pt;
}