.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(8px + 2vmin);
  color: white;
  position: relative;
  z-index: 10;
}

.App-link {
  color: #61dafb;
}

.App-header .title {
  margin-left: 16px;
  margin-right: auto;
}

.App-header h3 {
  margin: 8px;
}

.header-button {
  padding: 16px;
  font-size: 11pt;
    background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  /* margin-left: auto; */
  transition: background-color 0.2s;
}

.header-button:hover {
  background-color: #4b5261;
}