.color-values {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: var(--menu-bg-color-base);
    width: 8rem;
    margin-top: 0.5rem;
    position: absolute;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 13pt;
    align-items: center;
    backdrop-filter: blur(6px);
    font-family: var(--font-family-default);
}

.color-values span:not(.cur-p) {
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 1;
}

.cur-r {
    background-color: red;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cur-g {
    background-color: green;
}

.cur-b {
    background-color: blue;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cur-p {
    padding-top: 8px;
    padding-bottom: 4px;
    margin-top: -8px;
    background-color: white;
    color: black;
    grid-column: 1 / 4;
    border-radius: 0px 0px 8px 8px;

    transition: visibility, 0.25s;
    z-index: 0;
}

.color-values p {
    font-weight: normal;
    grid-column: 1 / 4;
    margin: 0 0.66rem 0 0.66rem;
    background-color: var(--gradient-base-color);
    border-radius: 0px 0px 8px 8px;
    padding: 0.33rem;
}